<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vincent.funny.kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.vincent.funny.kotlin.app.WanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.vincent.funny.kotlin.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vincent.funny.kotlin.ui.activity.KnowledgeTreeActivity" />
        <activity
            android:name="com.vincent.funny.kotlin.ui.activity.MainActivity"
            android:launchMode="singleInstance"></activity>
        <activity
            android:name="com.vincent.funny.kotlin.ui.activity.WebViewActivity"
            android:launchMode="singleTop"></activity>

        <provider
            android:name="com.vincent.funny.kotlin.provider.InitProvider"
            android:authorities="${applicationId}.pdFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>